$font: Verdana, Arial, Helvetica, Sans-Serif;

body {
     margin: 0px;
     color: #4a4a4a;
     font: 9pt/10pt $font;
     vertical-align: top;
     text-align: justify;
     background: #6699cc;
     /*overflow-x: hidden;*/}
     
      
#footer {
    font: 6pt/7pt $font;
    color: white;
    }

#login,#postform,#bodyid {
    background: #6699cc;
    }
    
#scontent{
    background: white;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    }
    
.wrap{
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, seit 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    width: 99%;
    display:table-row;
    }

.cell {
    display:table-cell;
    }

.nick {
    display:table-cell;
    min-width:90px;
    text-align:right;
    color:#0000ff;
    }
    
.date{
    white-space: nowrap; /* css-3 */
    white-space: -moz-nowrap !important; /* Mozilla, seit 1999 */
    white-space: -nowrap; /* Opera 4-6 */
    white-space: -o-nowrap; /* Opera 7 */
    }    
    
    
input,textarea,select {
    border: 1px solid #4a4a4a;
    color: #4a4a4a;
    background: white;
    font-family: $font;    
    }    
    

img {
     border: 0px solid white;
}


a {
    color: #4a4a4a;
    cursor: pointer; 
    text-decoration: none;
    &:link,&:visited,a:active {
        font-weight: bold;
    }
    .links {
        color: #0000aa;
        font-weight: normal;
        &:hover {
            text-decoration: underline;
        }
    }
}


.link, span{
     color: #4a4a4a;
     cursor: pointer; 
     text-decoration: none;
     font-weight: bold;
}

.link:hover {
     color: #4a4a4a;
     cursor: pointer; 
     text-decoration: none;
}

    
@import "mirc";